<footer class="bg-[#584c4c] text-white px-5 py-8 mt-10">
  <div class="mx-auto flex flex-col lg:flex-row justify-between items-center gap-10">

    <!-- LEFT SECTION -->
    <div class="flex-[2.5] w-full">

      <div class="flex flex-col sm:flex-row gap-10 border-b border-gray-500 pb-8">
        <div class="flex-1">
          <h2 class="text-3xl font-bold leading-tight uppercase tracking-wider">
            Designed<br />for Companies
          </h2>
        </div>

        <div class="flex-1">
          <p class="text-gray-300 leading-relaxed text-sm sm:text-base">
            We are a team of passionate people whose goal is to simplify
            everyone's work life. Our services are designed for individual
            to companies of any size.
          </p>
        </div>
      </div>

      <div class="flex flex-col sm:flex-row items-center sm:items-start gap-10 mt-8">
        <div class="flex-1">
          <ul class="space-y-3 text-center sm:text-left">
            
            <li><a class="text-gray-400 hover:text-[#8a89ea] transition-colors duration-300 cursor-pointer"
              hx-get="/" hx-target="#container" hx-push-url="true">
              Home</a></li>
            <li><a class="text-gray-400 hover:text-[#8a89ea] transition-colors duration-300 cursor-pointer"
              hx-get="/contact" hx-target="#container" hx-push-url="true">
              Contact us</a></li>
            <li><a class="text-gray-400 hover:text-[#8a89ea] transition-colors duration-300 cursor-pointer"
              hx-get="/faq" hx-target="#container" hx-push-url="true">
              FAQ</a></li>
          </ul>
        </div>

        <div class="flex-1 flex justify-center sm:justify-start">
          <div class="flex items-center gap-2 group cursor-pointer">
            <img src="/static/icon/mail.svg" alt="mail" class="w-5 h-5 group-hover:scale-110 transition-transform"/>
            <p class="text-gray-300 font-medium border-b border-transparent group-hover:border-[#8a89ea]">admin@flowem.com</p>
          </div>
        </div>
      </div>

    </div>

    <!-- RIGHT SECTION (Social Icons) -->
    <div class="flex-1 flex justify-center lg:justify-end gap-5">
      <div class="w-10 h-10 bg-white rounded-full flex items-center justify-center hover:bg-[#8a89ea] transition-all duration-300 cursor-pointer group">
        <a href="#"><img src="/static/icon/facebook.svg" alt="facebook" class="w-5 h-5" /></a>
      </div>
      <div class="w-10 h-10 bg-white rounded-full flex items-center justify-center hover:bg-[#8a89ea] transition-all duration-300 cursor-pointer group">
        <a href="#"><img src="/static/icon/twitter-x.svg" alt="x" class="w-5 h-5" /></a>
      </div>
      <div class="w-10 h-10 bg-white rounded-full flex items-center justify-center hover:bg-[#8a89ea] transition-all duration-300 cursor-pointer group">
        <a href="#"><img src="/static/icon/instagram.svg" alt="instagram" class="w-5 h-5" /></a>
      </div>
      <div class="w-10 h-10 bg-white rounded-full flex items-center justify-center hover:bg-[#8a89ea] transition-all duration-300 cursor-pointer group">
        <a href="#"><img src="/static/icon/youtube.svg" alt="youtube" class="w-5 h-5" /></a>
      </div>
    </div>

  </div>
</footer>
