<!-- <h2>Login</h2>

<form hx-post="/login">

<input name="email">

<input name="password">

<button>Login</button>

</form> -->

<div class="flex items-center justify-center min-h-[80vh] px-4 py-8">
    <div class="w-full max-w-md bg-white rounded-2xl shadow-2xl overflow-hidden border border-gray-100">

    <div class="flex p-1 bg-gray-100 m-6 rounded-xl">
    <button class="flex-1 py-2 text-center text-sm font-semibold rounded-lg transition-all duration-300 bg-white text-blue-700 shadow-sm"
        hx-get="/login" hx-target="#container" hx-push-url="true">
        Login
    </button>

    <button class="flex-1 py-2 text-center text-sm font-semibold rounded-lg transition-all duration-300 text-gray-500 hover:text-blue-600 cursor-pointer"
        hx-get="/signup" hx-target="#container" hx-push-url="true">
        Signup
    </button>
    </div>

    <div class="px-8 pb-10">
    <h2 class="text-2xl font-bold text-gray-800 text-center mb-2">Welcome Back!</h2>
    <p class="text-gray-500 text-center mb-8 text-sm">Please enter your details to login.</p>
    
    <form hx-post="/login" hx-target="#login-response" class="space-y-5">

    <div class="relative">
        <input type="email" name="email" placeholder="Email Address" required
        class="w-full px-4 py-3 bg-gray-50 border border-gray-200 rounded-xl focus:ring-2 focus:ring-blue-500 outline-none transition-all">
    </div>

    <div class="relative">
         <input type="password" id="login-pass" name="password" placeholder="Password" required
         class="w-full px-4 py-3 bg-gray-50 border border-gray-200 rounded-xl focus:ring-2 focus:ring-blue-500 outline-none transition-all pr-12">
         <button type="button" onclick="togglePass('login-pass', this)" class="absolute right-4 top-1/2 -translate-y-1/2 text-gray-400 hover:text-blue-600 transition cursor-pointer">
             <svg id="eye-closed" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 17c-5.35 0-7.42-3.84-7.93-5 .2-.46.65-1.34 1.45-2.23l-1.4-1.4c-1.49 1.65-2.06 3.28-2.08 3.31-.07.21-.07.43 0 .63.02.07 2.32 6.68 9.95 6.68.91 0 1.73-.1 2.49-.26l-1.77-1.77c-.24.02-.47.03-.72.03Zm9.95-4.68c.07-.21.07-.43 0-.63-.02-.07-2.32-6.68-9.95-6.68-1.84 0-3.36.39-4.61.97L2.71 1.29 1.3 2.7l4.32 4.32 1.42 1.42 2.27 2.27 3.98 3.98 1.8 1.8 1.53 1.53 4.68 4.68 1.41-1.41-4.32-4.32c2.61-1.95 3.55-4.61 3.56-4.65m-7.25.97c.19-.39.3-.83.3-1.29 0-1.64-1.36-3-3-3-.46 0-.89.11-1.29.3l-1.8-1.8c.88-.31 1.9-.5 3.08-.5 5.35 0 7.42 3.85 7.93 5-.3.69-1.18 2.33-2.96 3.55z"/>
             </svg>

             <svg id="eye-open" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9a3 3 0 1 0 0 6 3 3 0 1 0 0-6"/>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19c7.63 0 9.93-6.62 9.95-6.68.07-.21.07-.43 0-.63-.02-.07-2.32-6.68-9.95-6.68s-9.93 6.61-9.95 6.67c-.07.21-.07.43 0 .63.02.07 2.32 6.68 9.95 6.68Zm0-12c5.35 0 7.42 3.85 7.93 5-.5 1.16-2.58 5-7.93 5s-7.42-3.84-7.93-5c.5-1.16 2.58-5 7.93-5"/>
             </svg>
         </button>
    </div>

    <div class="flex justify-end">
        <a href="#"
        class="text-sm text-blue-600 hover:underline">
        Forgot password?</a>
    </div>

    <!-- Response container for login result -->
    <div id="login-response"></div>

    <button type="submit" 
          class="w-full py-3 bg-gradient-to-r from-blue-600 to-purple-500 text-white font-bold rounded-xl shadow-lg hover:shadow-blue-300 transition-all active:scale-[0.98] cursor-pointer">
          Login
    </button>

    <p class="text-center text-sm text-gray-600 pt-4">
        Not a member?
        <a class="text-blue-600 font-bold cursor-pointer hover:underline"
           hx-get="/signup"
           hx-target="#container"
           hx-push-url="true">
           Signup now
        </a>
    </p>

    </form>
    </div>
    </div>
</div>  
